<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-6Nb8EwlZ00EfCfhDkhuHZvWzaPsvk54</string>
	<key>GCM_SENDER_ID</key>
	<string>900366491123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olyoxuser.olyox</string>
	<key>PROJECT_ID</key>
	<string>olyox-6215a</string>
	<key>STORAGE_BUCKET</key>
	<string>olyox-6215a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900366491123:ios:1b0f4d2860393b2eecc686</string>
</dict>
</plist>